*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-131921: #131921;
  --color-232f3e: #232f3e;
  --color-3b4149: #3b1449;
  --color-febd69: #febd69;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-bf4800: #bf4800;
  --color-1c1c1b: #1c1c1b;
  --color-777777: #777777;
  --color-1d1d1d: #1d1d1d;

}
.card-wrapper
{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
body
{
  font-family:'Rubik', sans-serif;  

}
a
{
  text-decoration: none;
  display: inline-block;
}
.form-control:focus
{
box-shadow: none;
border-color: inherit;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap:15px;
}
.gap-30
{
  gap: 30px;
}
.gap-5{
  gap:30px;
}

/* header part */
.header-top-strip{
  background-color: var(--color-131921);
}
.header-bottom
{
  background-color: var(--color-232f3e);
}
.header-upper{
  background-color: var(--color-131921);
}
.header-upper.header-upper-links img{
  width: 35px;
  height:35px;
}
.header-bottom.menu-links a,
.header-bottom .dropdown button
{
color: white;
font-size: 14px;
line-height: 18px;
font-weight: 400;
letter-spacing: .3;
text-transform: uppercase;
}

.header-bottom .dropdown button.focus{
  box-shadow: none;
}
.header-bottom .dropdown-menu
{
  background-color: var(--color-131921);
  width:100%;
  transform: translate3d(0px,57px,0px,) !important;
}
.header-bottom .dropdown-item{
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-febd69) !important;
}
/*header part ends*/

/*Footer parts starts*/
footer 
{
  background-color: var(--color-232f3e);
  position:relative;
  bottom:0;
  width: 100%;
  padding-bottom:60px;
}
footer:not(:first-child)
{
  border-top: 1px solid rgba(255, 255, 255, 3);
}


/*Home page*/
.img-fluid {
  height:30;
  width:120;
}

/* Home wrapper 2 */
.home-wrapper-2{
  background-color: #f5f5f7;
}

/* categories section */
.categories
{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories>div{
  width: 25%;
  padding: 10px 10px 10px 20px;
}
.categories>div>div
{
  width: 60%;

}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
  border-bottom: 1px solid var(--color-ededed) ;
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3){
  border-right: 1px solid var(--color-ededed) ;
}
.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7){
  border-right: 1px solid var(--color-ededed) ;
}


.heading-style{
  padding: 30px 0;
  text-align: center;
  font-family: "cursive";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 30px;
  background-color: white;
  color: black;
}
.card_title{
  margin-top: 3px;
  margin-bottom: 3px;
  font-family: "cursive";
  background-color: white;
  text-transform: capitalize;
  text-align: center;
}
.card_info{
  background-color: white;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 10px 20px 10px 20px;
}
.cards{
  padding: 15px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.card{
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
  background-color: white;
  width: 21.25;
  border-radius: 13px;
  box-shadow: 0px 14px 10px -7px rgba(0,0,0,0.1);
  float: justify;
}
.card:hover
{
  box-shadow: 0px 30px 18px -8 rgba(0,0,0,0.1);
  transform: scale(1.05,1.05);
}
.card_img{
  width: 100%;
  height: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px 5px 3px 2px;
  background-color: white;  

}



/* catgories section end */

/* product card section */
.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top:30px;
  overflow: hidden;
}
.product-card:hover .action-bar{
  right: 15px;
}
.product-card p.description
{
  font-size: 13px;
  color: var(--color-777777);
  margin-right:20px ;
}
.product-card.product_details h6
{
  color: var(--color-bf4800);
  font-size: 13px;
}
.product-card.product_details h5{
  font-size:15px;
  color: var(--color-1c1c1b);
}
.product-cart.product_details p.price{
  font-size: 16px;
  color: var(--color-1c1c1b);
}
.action-bar
{
  top:10%;
  right:-23px;
  transition: 0.3s;
}
.wishlist-icon 
{
  top: 2%;
  right: 15px;
}

/* special product starts */
.special-product-card{
  padding: 10px 10px;
  border-radius: 10px;
  background-color: white;
}
.special-product-content
{
  background-color: white;
}
.button
{
  background-color:var(--color-1d1d1d);
  border-radius: 5px;
  padding: 8px 8px;
  margin-right: 10px;
  border: 1px solid var(--color-1d1d1d);
  cursor: pointer;
  text-align: center;

}
.button:hover
{
  box-shadow: 0px 30px 18px -8 rgba(0,0,0,0.1);
  transform: scale(1.05,1.05);
}
.progress-bar
{
  background-color: green;
}

/* special product ends */
/* home page end */

/* Our store section starts */
.filter-card
{
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px;
}
.filter-title
{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}
.filter-card ul, .filter-card .form-check-label{
  list-style-type: none;
  font-size: 13px;
  line-height:30px;
}
.filter-card .form-check-input:checked
{
  background-color: var(--color-febd69);
}
 .filter-card .form-check-input:focus
{
  box-shadow: none;
  border-color: inherit;
}
.sub-title 
{
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin-top: 15px;
}
.product-tags
{
  cursor: pointer;
  color:black;
}
.filter-sort-grid
{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
/* Our store section ends */

/* CONTACT page starts */
.contact-inner-wrapper
{
 padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap:15px;
}
.contact-inner-wrapper>div
{
  width:48%;
  margin-top: 5px;
}
.contact-inner-wrapper form.form-control
{
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}
.contact-inner-wrapper ul{
  list-style: none;
}

/* Contact page ends */

/* wishlist page starts */
.compare-product-card
{
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}
.compare-product-card .cross, .wishlist-card .cross
{
  top:15px;
  right:15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.wishlist-card h5.title
{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color:var(--color-1c1c1b);
}
.wishlist-card h6.price
{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  
}
/* wishlist page ends */

/* Login page stats */
.login-card
{
  padding: 20px;
  background-color: white;
  width: 500px;
  margin:30px auto;
  border-radius: 10px;
}
.login-card h3{
  font-size: 19px;
  font-weight: 500;
  color: #777777;
}
.login-card .form-control
{
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}
.login-card p{
  font-size: 13px;
  color: var(--color-777777)
}
.login-card a{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}
.login-card .signup
{
background-color: var(--color-febd69);
color: var(--color-131921);
font-size: 14px;
}
.login-card .signup:hover
{
background-color: var(--color-131921);
color:white;
}
/* Login page ends */

/* Privacy Policy Starts */
.policy
{
  background-color: white;
  padding: 30px;
  
}

/* Privacy policy ends */