*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-131921: #131921;
  --color-232f3e: #232f3e;
  --color-3b4149: #3b1449;
  --color-febd69: #febd69;
}

body
{
  font-family:'Rubik', sans-serif;  
}
a
{
  text-decoration: none;
  display: inline-block;
}
.form-control:focus
{
box-shadow: none;
border-color: inherit;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap:15px;
}
.gap-30
{
  gap: 30px;
}

/* header part */
.header-top-strip{
  background-color: var(--color-131921);
}
.header-bottom
{
  background-color: var(--color-232f3e);
}
.header-upper{
  background-color: var(--color-131921);
}
.header-upper.header-upper-links img{
  width: 35px;
  height:35px;
}
.header-bottom.menu-links a,
.header-bottom .dropdown button
{
color: white;
font-size: 14px;
line-height: 18px;
font-weight: 400;
letter-spacing: .3;
text-transform: uppercase;
}

.header-bottom .dropdown button.focus{
  box-shadow: none;
}
.header-bottom .dropdown-menu
{
  background-color: var(--color-131921);
  width:100%;
  transform: translate3d(0px,57px,0px,) !important;
}
.header-bottom .dropdown-item{
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-febd69) !important;
}
/*header part ends*/

/*Footer parts starts*/
footer 
{
  background-color: var(--color-232f3e);
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  padding-bottom:60px;
}